/*@font-face{
  font-family: Palatino Linotype;
}*/


body {
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua",Palatino, serif;
}

a{
  text-decoration: none;
  color: black;
}

#login-atag .halfpage{
  background-color: #D0F2E1;
}

#signup-atag .halfpage{
  background-color: #  background-color: #F2F2D0;
;
}

.halfpage {

  font-size:5em;
  text-align: center;
  width: 100%;
  height: 50vh;
  border: 1px solid #F2F2D0;
}


.hidden {
  display: none;
}

.imgDefault{
    height: 20em;
    width: 100%;
}
