/*@font-face{
  font-family: Palatino Linotype;
}*/

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#index {
  background-color: white;
  margin: 0;
  padding-top: 4em;
}
img{
  width: 100%
}

#details{
  padding-bottom: 1em;

}

#pay-button{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
#details-button{
  margin-bottom: 1em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.product{
  padding-bottom: 1em;
}

#main{
  text-align: center;
}

.index-a {
  text-decoration: none;
  color: black;
}


/*#index-login-a .index-halfpage{
  background-color: #701332;
}

#index-signup-a .index-halfpage{
  background-color: #0F5935;
}*/

.ribbon-form {
  text-align: center;
}



.index-outer {
  text-align: center;
  width: 100%;
  height: 50vh;
}
.ribbon {
  /*height: 1em;*/
  font-size: 2em !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 30vw;
  position: relative;
  background: #ba89b6;
  color: #fff;
  text-align: center;
  padding: 3vh 15vw;
  /* Adjust to suit */
  margin: 2vw auto 3vw;
  /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #986794;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #804f7c transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.hidden {
  display: none;
}

.input-disabled {
  background-color: grey;
}

.imgDefault{
    height: 20em;
    width: 100%;
}
